@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1252px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 10px 0;
}

nav a {
    color: #000;
    text-decoration: none;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: #157EDF;
    color: white;
    padding: 5px 11px;
    border-radius: 31px;
    border: none;
}

.banner {
    background: url(./img/banner.png);
    width: 1440px;
    height: 500px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.banner__info {
    position: absolute;
    top: 140px;
    left: 70px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.banner__info h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 20px;
}

.banner__info p {
    font-weight: 500;
    margin-top: 15px;
}

.btn_white {
    background-color: #fff;
    color: #000;
    margin-top: 25px;
}

.cards {
    padding: 40px 0;
}

.cards__item {
    cursor: pointer;
}

.cards__list {
    display: flex;
    justify-content: space-between;
}

.cards__active {
    border: 3px solid #0085FF;
    border-radius: 23px;
    padding: 4px;
}

.section__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 40px;
}

.reviews__item {
    border: 3px solid #000;
    width: 47%;
    padding: 30px;
    box-sizing: border-box;
}

.reviews__author {
    display: flex;
    align-items: center;
}

.reviews__author span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 20px;
}

.reviews__item img {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    object-fit: cover;
}

.reviews__description {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    margin-top: 25px;
}

.reviews__list {
    display: flex;
    justify-content: space-between;
}

.releases__item {
    font-family: 'Poppins', sans-serif;
    width: fit-content;
    margin-right: 104px;
    margin-bottom: 60px;
}

.releases__item:nth-child(4n) {
    margin-right: 0;
}

.releases__item h3 {
    font-weight: 600;
}

.releases__platform {
    font-size: 0.9rem;
}

.releases__price p {
    font-weight: 600;
    font-size: 1.3rem;
}

.releases__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.releases {
    margin-top: 65px;
}

.releases__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}